@use "variables" as *;

// .nav-container {
// 	width: min($container-min, 100% - ($container-margin-inline * 2));
// 	margin-inline: auto;
// }

.container {
	width: min($container-min, 100% - ($container-margin-inline * 2));
	margin-inline: auto;
	border-bottom: 1px solid $clr-accent-400;
}

.sub-container {
	@extend .container;
	padding-block: 100px;
	// padding-block: ;
}

@mixin lg-screen {
	@media (min-width: $breakpoint) {
		@content;
	}
}

@mixin sm-screen {
	@media (max-width: $breakpoint) {
		@content;
	}
}
