@use "variables" as *;

// .nav-container {
// 	width: min($container-min, 100% - ($container-margin-inline * 2));
// 	margin-inline: auto;
// }

.container {
	box-sizing: border-box;
	padding-inline: clamp(0px, 5%, 10vw);
	width: min($container-min, 100% - ($container-margin-inline * 2));
	margin-inline: auto;

	min-height: 85vh;
}

.sub-container {
	@extend .container;
	padding-block: 15vh;
	position: relative;
}

@mixin lg-screen {
	@media (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin md-screen {
	@media (min-width: $breakpoint) {
		@content;
	}
}

@mixin sm-screen {
	@media (max-width: $breakpoint) {
		@content;
	}
}

@include md-screen() {
	.container {
		width: min($container-min, 100% - ($container-margin-inline * 8));
		padding-inline: calc(15vw - (1920px - 100vw) / 8);
	}
}

@include lg-screen() {
	.container {
		width: min($container-min, 100% - ($container-margin-inline * 8));
	}
}
