@use "./variables" as *;
@use "./layout" as *;

//Header Start
.header-wrapper {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: $clr-primary-600;
	box-shadow: 2 3px 10px rgb(0 0 0 / 0.2);
	top: 0;
	left: 0;
}

.header {
	padding-top: 0.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: max($header-height, $header-height-backup);

	//make variable

	position: relative;
	width: 98%;
	margin-inline: auto;
}

.logo-wrapper {
	padding-left: 1vw;
	width: auto;
	height: clamp(40px, 3vw, 65%);
}

.navbar {
	padding-right: 2.5vw;
	font-family: $ff-secondary;
}

.nav_list {
	display: flex;
	background-color: $clr-primary-600;
	position: fixed;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	padding-inline: 25%;

	gap: $nav-gap;

	a {
		text-decoration: none;
		color: $clr-secondary-900;

		&:hover {
			color: $clr-accent-200;
		}
	}
}

.mobile-nav-toggle {
	display: block;
	position: absolute;
	top: calc($header-padding - 8px);
	right: calc($header-padding);
	z-index: 9999;

	& > * {
		width: auto;
		height: clamp(30px, 3vw, 65%);
	}
}

.close-menu {
	transform: translateX(0%);
	transition: transform 350ms ease-in-out;
}

.open-menu {
	transform: translateX(-100%);
	transition: transform 350ms ease-in-out;
}

@include md-screen {
	.close-menu,
	.open-menu {
		transform: none;
	}

	.nav_list {
		left: 0;
		position: relative;
		height: auto;
		flex-direction: row;
		padding-inline: auto;
	}

	.mobile-nav-toggle {
		display: none;
	}
}

//Start hero
.hero {
	box-sizing: border-box;
	height: max($hero-height-backup, 100vh);
	padding-top: $header-height;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;

	padding-bottom: 10vh;

	gap: 1rem;
}

.highlight {
	color: $clr-accent-200;
}

.heading {
	font-size: calc(2vw + 3.5rem);
	font-family: $ff-secondary;
	color: $clr-secondary-900;
}

.subheadline {
	font-size: clamp(1.5em, 1vw, 2rem);
}

.button-primary {
	background-color: $clr-accent-200; /* Green */
	border-radius: $border-radius;
	padding: $size-300 $size-400;

	font-weight: $font-bold;
	font-family: $ff-secondary;
	color: $clr-primary-600;

	cursor: pointer;
}

// Project list
.project-list {
	display: grid;
	grid-auto-rows: 1fr;
	grid-row-gap: min(2rem, 2vw);
	// margin-inline: min(10%, 10rem);
}

.subheading {
	font-size: clamp(2rem, 1vw + 1rem, 4rem);
	margin-bottom: 1.5em;
	font-family: $ff-secondary;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 12.5%;
		top: 0;
		height: 3px;
		width: 75%;
		border-bottom: 1px solid $clr-accent-400;
	}
}

.card {
	background-color: $clr-primary-300;
	border-radius: $border-radius;

	display: flex;
	flex-direction: row;
	overflow: hidden;

	box-shadow: 0 4px 10px rgb(0 0 0 / 0.4);

	.card-text {
		word-break: break-word;
		line-height: 1.5;

		display: flex;
		flex-direction: column;

		& > * {
			margin-inline: 1em;
		}
	}

	.card-title {
		color: $clr-secondary-900;
		font-size: 1.5rem;
		font-weight: $fw-700;

		display: flex;
		justify-content: space-between;

		padding-block: 1.5rem 1rem;
		gap: 0.75em;
	}

	.card-img {
		display: none;
	}

	.card-description {
		margin-bottom: 1rem;
	}

	.tag-wrapper {
		margin-top: auto;
		margin-bottom: 1rem;
		display: flex;
		gap: 2%;
		flex-wrap: wrap;
	}

	.tag {
		border: 1px solid $clr-accent-400;
		border-radius: $border-radius;
		padding: 0.25em 0.5em 0 0.5em;
	}
}

@include md-screen {
	.card {
		min-width: 600px;
		width: 50vw;
		margin-inline: auto;
		max-width: 900px;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		.card-img-link-wrapper {
			flex: 1;

			//for the overlay to work
			position: relative;
		}

		.img-overlay {
			background-color: $clr-primary-600;
			opacity: 0.9;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			&:hover {
				background-color: transparent;
			}
		}

		.card-img {
			position: absolute;
			display: block;
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		.card-text {
			flex: 1;
			box-sizing: border-box;
		}
	}
}

.about-text {
	width: min(75vw, 100ch);
	font-size: clamp(1rem, 1vw, 1.25rem);
	line-height: 1.5;
	margin-inline: auto;

	& > * {
		margin: 1.5em;
	}

	.skill-list {
		margin-inline: 4em;
		list-style-type: square;
		line-height: 2;
		font-size: clamp(0.85rem, 0.85vw, 1.15rem);

		& > li::marker {
			content: "‣ ";
			color: $clr-accent-200; /* or whatever color you prefer */
		}
	}
}

.side-bars {
	display: none;
}

@include md-screen {
	.side-bars {
		display: block;
		z-index: 1000;
	}

	.social-bar {
		position: fixed;
		display: flex;
		flex-direction: column;

		bottom: 0;
		right: 4%;
		gap: 2rem;
		min-height: min(17rem, 30%);

		z-index: 1;

		a {
			&:hover {
				transform: scale(1.6rem, 1.6rem);
				transform: translate(-0.125rem, -0.125rem);
				color: $clr-accent-200;
			}
		}

		* {
			width: 1.25em;
			height: auto;
		}

		.line {
			//line
			background-image: linear-gradient(
				$clr-secondary-500,
				$clr-secondary-500
			);
			background-size: 1px 100%;
			background-repeat: no-repeat;
			background-position: center center;

			height: 100%;
			width: 100%;
			// background-color: red;
			flex-grow: 1;
		}
	}
}
